<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
    <title>PW - Lab6</title>
</head>
<body>
    <header class="jumbotron text-center">
        <h1>Aplicação em Django</h1>
        <p>Primeira aplicação</p>
        <nav>
            <a class="btn btn-info" href="{% url 'website:home' %}">Home</a>
            <a class="btn btn-info" href="{% url 'website:page1' %}">Page1</a>
            <a class="btn btn-info" href="{% url 'website:page2' %}">Page2</a>
        </nav>
    </header>
    <article>
        <main class="col-sm-6">
            {% block main %}
            {%  endblock main %}
        </main>
        <aside class="col-sm-6">
            {% load static %}
            <img src="{% static 'website/images/pw1.jpg' %}">
        </aside>
    </article>
    <br>
    <footer>Nome: Inês Rocha| <a href="https://www.ulusofona.pt/">Universidade Lusofona|</a> a22006692| 2º ano </footer>
</body>
</html>